# Site settings
title: OpenClaw 中文文档
email: your-email@example.com
description: OpenClaw 项目的中文文档
baseurl: "/openclaw-chinese-docs"
url: "https://wszhxz.github.io"

# Build settings
markdown: kramdown
theme: minima
plugins:
  - jekyll-feed

# Exclude from processing
exclude:
  - Gemfile
  - Gemfile.lock
  - node_modules
  - vendor/bundle/
  - vendor/cache/
  - vendor/gems/
  - vendor/ruby/